/*.*
nbproject/
wp-admin/
wp-content/languages/
wp-content/themes/
wp-content/upgrade/
wp-content/uploads/
wp-content/index.php
wp-includes/
wp-content/plugins/classic-editor/
wp-content/plugins/click-to-chat-for-whatsapp/
wp-content/plugins/cookie-law-info/
wp-content/plugins/dk-pdf/
wp-content/plugins/js_composer/
wp-content/plugins/mortgage-calculator/
wp-content/plugins/one-click-demo-import/
wp-content/plugins/quick-and-easy-faqs/
wp-content/plugins/quick-and-easy-testimonials/
wp-content/plugins/real-estate-crm/
wp-content/plugins/responsive-admin-maintenance-pro/
wp-content/plugins/revslider/
wp-content/plugins/wordpress-seo/
wp-content/plugins/wpforms-lite/